<div class="container">
  <div [hidden]="submitted">
    <h1>Invitation guests Form</h1>
    <form (ngSubmit)="onSubmit()" #weddingInviterForm="ngForm">
      <div class="form-group">
        <label class="question">Will you join?</label>
          <div class="form-check">
            <input type="radio" [value]='true' name="participate" [(ngModel)]="model.participate" id="participate"> 
            <label for="participate">yes</label>
          </div>
          <div class="form-check">
            <input type="radio" [value]='false'  name="participate" [(ngModel)]="model.participate" id="notParticipate">
            <label for="notParticipate">No</label>
          </div>
      </div>
      <div *ngIf="model.participate">
        <div class="row">
          <div class="col-md-6">
            <label for="numberOfAdults">Number of adult</label>
            <input type="number" class="form-control" id="numberOfAdults"
                  required
                  [(ngModel)]="model.numberOfAdults" name="numberOfAdults"
                  #numberOfAdults="ngModel">
            <div [hidden]="numberOfAdults.valid || numberOfAdults.pristine"
                class="alert alert-danger">
                Number Of adults is required
            </div>
          </div>
          <div class="col-md-6">
              <label for="numberOfKids">Number of kids</label>
              <input type="number" class="form-control" id="numberOfKids"
                    required
                    [(ngModel)]="model.numberOfKids" name="numberOfKids"
                    #numberOfKids="ngModel">
              <div [hidden]="numberOfKids.valid || numberOfkids.pristine"
                  class="alert alert-danger">
                  Number Of kids is required
              </div>
            </div>
        </div>
      </div>
     
   


      <button type="submit" class="btn btn-success" [disabled]="!weddingInviterForm.form.valid">Submit</button>

     <!-- NOT SHOWN IN DOCS -->
      <div>
        <hr>
        Name via form.controls = {{showFormControls(weddingInviterForm)}}
      </div>
     <!-- - -->
    </form>
  </div>

  <!-- <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9 pull-left">{{ model.power }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div> -->
</div>

