<div class="container well well-lg">
  <div [hidden]="submitted">
    <h1>Invitation guests Form</h1>
    <div class="photo"></div>
    <form (ngSubmit)="onSubmit()" #weddingInviterForm="ngForm">
      <div class="form-group">
        <label class="question">Will you join?</label>
          <div class="form-check">
            <input type="radio" [value]='true' name="participate" [(ngModel)]="model.participate" id="participate"> 
            <label for="participate">yes</label>
          </div>
          <div class="form-check">
            <input type="radio" [value]='false'  name="participate" [(ngModel)]="model.participate" id="notParticipate">
            <label for="notParticipate">No</label>
          </div>
      </div>
      <div *ngIf="model.participate">
        <fieldset>
          <legend>Contact info</legend>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name"
                required
                [(ngModel)]="model.name" name="name"
                #name="ngModel">
              <div [hidden]="name.valid || name.pristine"
              class="alert alert-danger">
                Name is required
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="phoneNumber">Phone number</label>
              <input type="text" class="form-control" id="phoneNumber"
                [(ngModel)]="model.phoneNumber" name="phoneNumber"
                #phoneNumber="ngModel">
              <div [hidden]="phoneNumber.valid || phoneNumber.pristine"
                class="alert alert-danger">
                Phone number Of adults is required
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Number of guests</legend>
          <div class="row">
                <div class="col-md-6">
                  <label for="numberOfAdults">Number of adult</label>
                  <input type="number" class="form-control" id="numberOfAdults"
                        required
                        [(ngModel)]="model.numberOfAdults" name="numberOfAdults"
                        #numberOfAdults="ngModel">
                  <div [hidden]="numberOfAdults.valid || numberOfAdults.pristine"
                      class="alert alert-danger">
                      Number Of adults is required
                  </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="numberOfKids">Number of kids</label>
                    <input type="number" class="form-control" id="numberOfKids"
                          required
                          [(ngModel)]="model.numberOfKids" name="numberOfKids"
                          #numberOfKids="ngModel">
                    <div [hidden]="numberOfKids.valid || numberOfkids.pristine"
                        class="alert alert-danger">
                        Number Of kids is required
                    </div>
                  </div>
              </div>
        </fieldset>
        
        <fieldset>
          <legend>Address:</legend>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity"
              required 
              [(ngModel)]="model.addressCity" name="addressCity"
              #addressCity="ngModel">
              <div [hidden]="addressCity.valid || addressCity.pristine"
                class="alert alert-danger">
                city is requierd
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputStreet">Street</label>
              <input type="text" class="form-control" id="inputStreet"
              required 
              [(ngModel)]="model.addressStreet" name="addressStreet"
              #addressStreet="ngModel">
              <div [hidden]="addressStreet.valid || addressStreet.pristine"
                class="alert alert-danger">
                Street is requierd
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputNumber">number</label>
              <input type="text" class="form-control" id="inputNumber"
              required 
              [(ngModel)]="model.addressNumber" name="addressNumber"
              #addressNumber="ngModel">
              <div [hidden]="addressNumber.valid || addressNumber.pristine"
                class="alert alert-danger">
                Number is requierd
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPostalcode">Postalcode</label>
              <input type="text" class="form-control" id="inputPostalCode"
              required 
              [(ngModel)]="model.addressPostalCode" name="addressPostalCode"
              #addressPostalCode="ngModel">
              <div [hidden]="addressPostalCode.valid || addressPostalCode.pristine"
                class="alert alert-danger">
                Postalcode is requierd
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Program:</legend>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Time</th>
                  <th scope="col">Program</th>
                  <th scope="col">Location</th>
                  <th scope="col">We will Participate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>16 PM-17 PM</td>
                  <td>Dutch ceremony</td>
                  <td><a href="https://www.google.nl/maps?q=markant+hengelo+trouwen&um=1&ie=UTF-8&sa=X&ved=0ahUKEwic5bnMsNrYAhXC_KQKHW6ED7IQ_AUICygC/">Markant Hengelo</a></td>
                  <td>
                      <input type="checkbox" name="participateDutchCeremony" [(ngModel)]="model.participateDutchCeremony" >
                      <label  class="participateCheckBox" >Participate</label>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>17 PM - 18 PM</td>
                  <td>Reception + Iranian cermony </td>
                  <td><a href="https://www.google.nl/maps/place/Van+der+Valk+Hotel+Hengelo/@52.2862338,6.7722163,17z/data=!3m1!4b1!4m5!3m4!1s0x47b80e30c44d8381:0x96702367c1f33184!8m2!3d52.2862338!4d6.774405">Van der Valk Hotel Hengelo</a></td>
                  <td>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="participateIranianCeremony" [(ngModel)]="model.participateIranianCeremony"  class="custom-control-input">
                      <label class="participateCheckBox">Participate</label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>18 PM - 19 PM</td>
                  <td>Party</td>
                  <td><a href="https://www.google.nl/maps/place/Van+der+Valk+Hotel+Hengelo/@52.2862338,6.7722163,17z/data=!3m1!4b1!4m5!3m4!1s0x47b80e30c44d8381:0x96702367c1f33184!8m2!3d52.2862338!4d6.774405">Van der Valk Hotel Hengelo</a></td>
                  <td>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="participateParty" [(ngModel)]="model.participateParty"  class="custom-control-input">
                      <label class="participateCheckBox">Participate</label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
        </fieldset>
        <fieldset>
          <legend>Optional</legend>
          <label for="remarks" class="remarks">Remark</label>
          <textarea [(ngModel)]="model.remarks" cols="50" rows="4" name="remarks" id="remarks"></textarea>
        </fieldset>
      </div>
     
   


      <button type="submit" class="btn btn-success" [disabled]="!weddingInviterForm.form.valid">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div *ngIf= "!model.participate">
       <label>You will not participate</label> 
      </div>
    </div>
    <div *ngIf= "model.participate">
        <label>We are happy that you will be participate</label>
        <fieldset>
          <legend>Contact info</legend>
          <div class="row">
            <label class="col-md-3">Name</label>
            <div class="col-md-3">{{ model.name }}</div>
            <label class="col-md-3">Phone number</label>
            <div class="col-md-3">{{model.phoneNumber}}</div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Number of guests</legend>
          <div class="row">
            <label class="col-md-3">Number of adults</label>
            <div class="col-md-3">{{ model.numberOfAdults }}</div>
            <label class="col-md-3">Number of kids</label>
            <div class="col-md-3">{{model.numberOfKids}}</div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Address</legend>
          <div class="row">
            <label class="col-md-3">City</label>
            <div class="col-md-3">{{ model.addressCity }}</div>
            <label class="col-md-3">Street</label>
            <div class="col-md-3">{{model.addressStreet}}</div>
          </div>
          <div class="row">
            <label class="col-md-3">Number</label>
            <div class="col-md-3">{{ model.addressNumber }}</div>
            <label class="col-md-3">Postalcode</label>
            <div class="col-md-3">{{model.addressPostalCode}}</div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Program</legend>
          <ul>
            <li *ngIf="model.participateDutchCeremony"> <label>You will participate in Dutch cermony.</label></li>
            <li *ngIf="model.participateIranianCeremony"><label>You will participate in Reception and Iranian cermony.</label></li>
            <li *ngIf="model.participateParty"><label>You will participate in party.</label></li>
          </ul>
        </fieldset>
      </div>

    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    <button class="btn btn-primary" (click)="sendInfo()">Confirm</button>
  </div>
</div>

